<% content_for(:title, "Shop") %>

<% if flash[:notice] %>
  <div class="alert alert-success" role="alert">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<h1>Products:</h1>
<%= link_to 'Sort by date', sorted_products_path("updated_at DESC") %> |
<%= link_to 'Sort by name', sorted_products_path("name") %> |
<%= link_to 'Lowest price', sorted_products_path("price ASC") %> |
<%= link_to 'Highest price', sorted_products_path("price DESC") %>

<div class="row justify-content-center">
  <% @products.each do |product| %>
    <div class="card" style="width: 18rem; margin: 1rem;">
      <%=image_tag("product_icon.png", {:class => "card-img-top", :alt => "Product image"})%>
      <div class="card-body">
        <h5 class="card-title"><%= product.name %></h5>
        <p class="card-text"><%= product.description %></p>
        <p class="align-text-bottom">Price: <span class="badge badge-pill badge-secondary"><%= product.price %> $</span></p>
      </div>
      <div class="card-footer">
        <%= link_to "Show", product_path(product.id), :class => "btn btn-primary btn-block"%>
      </div>
      <div class="card-footer">
        <%= link_to "Edit", edit_product_path(product.id), :class => "btn btn-secondary btn-block"%>
      </div>
      <div class="card-footer">
        <%= link_to "Delete", product_path(product.id), :class => "btn btn-danger btn-block", data: { method: :delete, confirm: "Did you want to delete #{product.name}? "} %>
      </div>
    </div>
  <% end %>
</div>